
@{
    ViewBag.Title = "ArtikliRep";
}
<style>
    body {
        background-color: transparent;
    }
</style>
<h2>Lista Artikala</h2>
<iframe src="~/Areas/Resursi/Reports/Art_Rep_WF.aspx"
        frameborder="1"
        width="800"
        height="500"
        style="background-color:white">
</iframe>

