@using Prodaja_i_Servis_Racunarske_Opreme.Helper
@{
    var User = (Session["Logirani"] as LogiraniSes).Ime_Prezime;
}
<!DOCTYPE html>

<style>
    #First, #Second, #Third {
        display: inline-block;
    }

    #Second {
        position: absolute;
        right: 30px;
        text-align: right;
    }

    #Third {
        position: absolute;
        text-align: center;
    }
</style>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>RS1 - Seminarski [FIT - Mostar 2018]</title>

    <!-- Custom styles for this template -->
    <link href="~/Content/css/simple-sidebar.css" rel="stylesheet">
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />

</head>
<body>
    @* Standard BootStrap Navigation bar *@
    <div id="Standardni BootStrap" class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                @Html.ActionLink("Prodaja i Servis Računarske Opreme", "HomePage", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
        </div>
    </div>

    <div id="wrapper">
        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <img src="~/Images/menu_bg.jpg" />
            <ul class="sidebar-nav">
                <li><img src="~/Images/computer-repair.png" width="100" style="margin:20px 20px 20px 5px" /></li>
                <li style="font-size:25px; color:white; margin-bottom:20px; font-weight:bolder">Glavni menu</li>
                <li>    <a href="/Resursi/JedinicaMjere/Index">   Jedinice Mjere  </a>    </li>
                <li>    <a href="/Resursi/GrupaProizvoda/Index">  Grupe Proizvoda </a>    </li>
                <li>    <a href="/Resursi/Proizvodjac/Index">     Proizvođači     </a>    </li>
                <li>    <a href="/Resursi/Grad/Index">            Gradovi         </a>    </li>
                <li>    <a href="/Resursi/StrucnaSprema/Index">   Stručne Spreme  </a>    </li>
                <li>    <a href="/Resursi/Zaduzenje/Index">       Zaduženja       </a>    </li>
                <li>    <a href="/Resursi/Dobavljac/Index">       Dobavljači      </a>    </li>
                <li>    <a href="/Resursi/Artikal/Index">         Artikli         </a>    </li>
                <li>    <a href="/Resursi/Korisnik/Index">        Korisnici       </a>    </li>
                <li>    <a href="/Resursi/Zaposlenik/Index">      Zaposlenici     </a>    </li>
                <li>    <br />    </li>
                <li>    <a href="/Resursi/Reports/ArtikliRep">    Izvjestaj       </a>    </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->
        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid" style="border:solid 3px; color:darkgreen; border-radius: 8px;">
                <div id="First">
                    <img src="~/Images/hmbgicon.png" id="menu-toggle" width="30" />
                </div>
                <div id="Second" style="text-align:center;">
                    <label style="color:blue;">Loged:@User </label>
                </div>
            </div>
            @RenderBody()
        </div>
        <!-- /#page-content-wrapper -->
    </div>
    <!-- /#wrapper -->
</body>
</html>

<!-- Bootstrap core JavaScript -->
<script src="~/Scripts/modernizr-2.6.2.js"></script>
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>

<!-- Menu Toggle Script -->
<script>
    $("#menu-toggle").click(function (e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
</script>