<!DOCTYPE html>
<html lang="en">

<style>

    #First, #Second {
        display: inline-block;
    }
    #Second {
        position:absolute;
        right:28px;
        text-align:right;
    }
</style>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Simple Sidebar - Start Bootstrap Template</title>
    <!-- Bootstrap core CSS -->
    <link href="~/Content/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="~/Content/css/simple-sidebar.css" rel="stylesheet">
</head>
<body>
    <div id="wrapper">
        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="#">
                        Start Bootstrap
                    </a>
                </li>
                <li>
                    <a href="/Resursi/JedinicaMjere/Index">Jedinice Mjere</a>
                </li>
                <li>
                    <a href="/Resursi/GrupaProizvoda/Index">Grupe Proizvoda</a>
                </li>
                <li>
                    <a href="/Resursi/Proizvodjac/Index">Proizvodjaci</a>
                </li>
                <li>
                    <a href="/Resursi/Grad/Index">Gradovi</a>
                </li>
                <li>
                    <a href="/Resursi/StrucnaSprema/Index">Strucne Spreme</a>
                </li>
                <li>
                    <a href="/Resursi/Zaduzenje/Index">Zaduzenja</a>
                </li>
                <li>
                    <a href="/Resursi/Dobavljac/Index">Dobavljac</a>
                </li>
                <li>
                    <a href="/Resursi/Artikal/Index">Artikal</a>
                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->
        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid" style="background-color:black">
                <div id="First" >
                    <a href="#menu-toggle" style="color:red; " id="menu-toggle">Toggle Menu</a>
                </div>
                <div id="Second" >
                    <label style="color:red">Created by Armin Böhm</label>
                </div>
            </div>
            @RenderBody()
        </div>
        <!-- /#page-content-wrapper -->
    </div>
    <!-- /#wrapper -->
    <!-- Bootstrap core JavaScript -->
    <script src="~/Content/vendor/jquery/jquery.min.js"></script>
    <script src="~/Content/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- Menu Toggle Script -->
    <script>
        $("#menu-toggle").click(function (e) {
            e.preventDefault();
            $("#wrapper").toggleClass("toggled");
        });
    </script>
</body>
</html>
