@model List<Prodaja_i_Servis_Racunarske_Opreme.Models.JedinicaMjere>

@{
    ViewBag.Title = "Index";
}

<h2>Jedinice Mjere</h2>

<table class="table">
    <tr>
        <th>
            Naziv
        </th>
        <th>
            Akcija
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Naziv)
        </td>
        <td>
            @Ajax.ActionLink("Edituj", "Edituj_JM", new { id=item.Id }, new AjaxOptions { UpdateTargetId = "AjaxDiv" }) |
            @Ajax.ActionLink("Brisanje", "Brisanje_JM", new { id=item.Id }, new AjaxOptions { UpdateTargetId = "AjaxDiv" })
        </td>
    </tr>
}

</table>

<p>
    @Ajax.ActionLink("Dodaj Novu Jed. Mjere", "Dodaj_JM" , new AjaxOptions { UpdateTargetId = "AjaxDiv" })
</p>

<div id="AjaxDiv"></div>