<h3 style="color:darkblue; text-align:center;"><b>Nemoguce Izbrisati</b></h3><br />
<p>
    <div style="text-align:center">
        <h2 style="color:red;">
            Obavijest:
        </h2><br />
    </div>
    Ukoliko citate ovo obavjestenje, znaci da ste pokusali<br />
    Obrisati dijelove programa koji se koriste.<br /> <br>

    <div style="width:100px; height:100px; display:inline-block; position:fixed; margin:0px 0px 0px 120px;">
        <img id="logo" src="~/Images/Stop_hand.svg.png" style="width:100px;" />
    </div>
</p>
<a href="#" class="btn btn-info" style="margin-bottom:10px; margin-top:70px;" id="Potvrda">OK</a>
@*"javascript:history.back()"*@
<script type="text/javascript">
    setInterval(animacija, 1500);
    $(function () {
        $('#Potvrda').click(function () {
            clearInterval(animacija);
            $('#MojInfoScr').hide();
        });
    });

    function animacija() {
        $('#logo').animate({ height: '90px', width: '90px' }, "slow", function () {
            $('#logo').animate({ height: '100px', width: '100px' }, "slow")
        })
    }
    

</script>