@{
    ViewBag.Title = "ErrMsgView";
    if (ViewBag.IsAjaxRequest == 1) { Layout = null; }
}
<div id="MojInfoScr">
    @*<div class="modal show" role="dialog">*@
        <div class="modal show">
            <div class="modal-dialog" style="width: 370px;">
                <div class="modal-content">
                    <div class="modal-body">
                        <h3 style="color:darkblue"><b>Autorizacijska ogranicenja</b></h3><br />
                        <p>
                            <label style="color:green">
                                Obavijest:
                            </label><br />
                            Ukoliko citate ovo obavjestenje, znaci da ste pokusali<br />
                            pristupiti dijelovima programa za koje nemate ovlasti.<br />
                            Potrazite pomoc od:<br /><br />

                            <div style="display:inline-block">
                                &nbsp;&nbsp;&nbsp;- [ <i>Master Administrator</i> ]<br />
                                &nbsp;&nbsp;&nbsp;- [ <i>Programer</i> ]<br /><br />
                            </div>
                            <div style="width:105px; height:105px; display:inline-block; position:fixed; margin-left:50px;">
                                @* <img id="logo" src="~/Images/logoCC13.png" style="width:100px;" />*@
                            </div>
                        </p>
                        <a href="javascript:history.back()" id="Potvrda" class="btn btn-danger">OK</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
@*<script type="text/javascript">
        setInterval(animacija, 1500);
        $(function () {
            $('#Potvrda').click(function () {
                clearInterval(animacija);
                $('#MojInfoScr').hide();
                });
        });
        function animacija() {
            $('#logo').animate({ height: '90px', width: '90px' }, "slow", function () {
                $('#logo').animate({ height: '100px', width: '100px' }, "slow")
            })
        }
    </script>*@